@media (max-width: 900px) {
    #page-home {
        background-position: 70vw;
    }
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: absolute;
        bottom: 40px;
        transform: translateX(-50%);
        left: 50%;
    }
    #page-home main {
        align-items: center;
        margin-bottom: 100px;
    }
    #page-search-results .cards {
        grid-template-columns: 1fr;
    }
}

@media(min-width: 1700px) {
    #page-home {
        background-position: 40vh;
    }
}

@media(max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}